body, html {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../images/brick.jpg);
}

.jumbotron-custom {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #2580B3;
    border-radius: .3rem;
    color: white;
}

/* Centering Jumbotron Text */
.display-4, .lead{
    text-align: center;
}

.container-custom {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 30px;
        margin-left: 20px;
}

.fa-train {
    color:white;
    margin-right: 15px;
}

/* Start Input Card */
#add-train-card {
    width: 100%;
    border-radius: 10px;
    background-color: #218ECC;
    padding: 1.5em 1em;
    color: white;
}

.card-header {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}

#card-title {
    margin-left: 18px;
}

.form-row {
    margin-top: 20px;
}

#add-btn {
    margin-left: 8px;
}

/* Start Table Section */
#train-table {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.87);
}

#train-table thead {
    border: 1px solid rgb(0, 0, 0);
}

#table-header {
    width: 100%;
    height: 60px;
    background-color: #FF434B;
    color: white;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#table-header h3 {
    margin-left: 20px;
    margin-top: 12px;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(255, 123, 130);
}


@media (min-width: 1200px) {
    .container-custom {
        max-width: 1625px;
    }
}

/* The Modal (background) */
.modal {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    text-align: center;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    /* float: right; */
    text-align: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }